h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

body {
  font-family: "roboto", sans-serif;
  color: #757575;
}

img {
  display: block;
}

input,
textarea {
  outline: none;
}

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --bg-dark-color: #2f303a;
  --bg-light-grey-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --icon-logo-border: #afb1b8;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
  --text-color: #757575 ;
}

.checkbox-label, .clients__link, .social__link, .contacts__link, .navigation__link, .navigation__list, .btn-filter__portfolio, .btn-container, .hero-btn, .send-btn, .follow-btn {
  display: flex;
  align-items: center;
}

.title {
  font-size: 36px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.pre-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pre-title--light-theme {
  color: var(--primary-white-color);
}

.pre-title--dark-theme {
  color: var(--title-text-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.follow-btn {
  margin: 0 auto;
  padding: 10px 32px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.send-btn {
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.hero-btn {
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.btn-container {
  width: 585px;
  margin: 0 auto 51px;
}

.btn-filter__portfolio {
  padding: 6px 22px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--bg-light-grey-color);
  color: var(--title-text-color);
}
.btn-filter__portfolio:hover, .btn-filter__portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--function-time), background-color 250ms var(--function-time);
}

.btn-filter__item:nth-last-child(1) .btn-filter__portfolio {
  margin-right: 0;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__first-part {
  color: var(--accent-color);
}

.logo__second-part {
  color: var(--primary-black-color);
}

.logo__second-part--light {
  color: var(--primary-white-color);
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: stretch;
}

.navigation__list {
  margin-right: 292px;
}

.navigation__link {
  display: flex;
  height: 100%;
}

.navigation__item {
  margin-left: 50px;
  height: 100%;
  display: flex;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--function-time);
}
.navigation__link--active {
  color: var(--accent-color);
}
.navigation__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts__link + .contacts__link {
  margin-left: 50px;
}

.contacts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contacts__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--function-time);
}

.contacts__icon1 {
  margin-right: 10px;
}
.contacts__icon1:hover, .contacts__icon1:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

.contacts__icon2 {
  margin-right: 10px;
}
.contacts__icon2:hover, .contacts__icon2:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto 35px;
  text-align: center;
}

.features__pre-title {
  padding-bottom: 10px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__wrap {
  justify-content: center;
  display: flex;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

.features__list {
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: flex-start;
}

.features__item {
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.examples {
  display: block;
}

.examples__item:last-child {
  margin-right: 0;
}

.examples__list {
  display: flex;
}

.examples__item {
  margin-right: 30px;
}

.examples__item:nth-last-child(1) {
  margin-right: 0;
}

.examples__wrap {
  position: relative;
  overflow: hidden;
}

.examples__pre-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--bg-light-grey-color);
}

.team__container {
  display: block;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team__wrap {
  background: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.team__special {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--function-time), background-color 250ms var(--function-time);
}

.social__icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
}

.clients {
  background: var(--primary-white-color);
}

.container--clients {
  display: block;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-logo-border);
  border-radius: 4px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  transition: border 250ms var(--function-time);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

.clients__icon {
  align-items: center;
  justify-content: center;
  fill: var(--icon-logo-border);
}

address {
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer__mail,
.footer__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  color: var(--footer-contacts-color);
}

.join__pre-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
}

.footer-icon {
  background-color: var(--bg-dark-color);
  box-shadow: none;
  border-radius: 0px;
  margin-top: 20px;
  padding-top: 0;
}

.join {
  margin-left: 70px;
}

.follow {
  margin-left: auto;
  margin-bottom: 20px;
}

.follow__pre-title {
  margin-bottom: 10px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
}

.footer-follow-block {
  display: flex;
}

.icon-follow {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--function-time);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--function-time);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding-bottom: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.hero-btn-close:hover .icon-close {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

.icon-close {
  fill: #000000;
  align-items: center;
  margin: auto;
}

/* HM6 */
.modal-form {
  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-field label {
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  outline: none;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid var(--icon-logo-border);
  border-radius: 4px;
}

.form-contacts {
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.modal-icon {
  display: inline-blok;
  position: absolute;
  top: calc(10px + 50%);
  left: 12px;
  transform: translateY(-50%);
}

.form-field:focus-within > .modal-icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

.form-field:focus-within > .form-textarea,
.form-field:focus-within > .form-input {
  border: 1px solid var(--accent-color);
  transition: border 250ms var(--function-time);
}

.form-textarea {
  box-sizing: border-box;
  outline: none;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font: inherit;
}

.checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-label {
  display: inline-block;
}

.form-checkbox {
  display: flex;
  margin-bottom: 30px;
}

.checkbox-icon {
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  position: relative;
}

.checkbox-icon svg {
  position: absolute;
  top: -2px;
  left: -1px;
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-icon {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  background-origin: content-box;
  background-size: contain;
  border: 2px solid var(--accent-color);
}

.checkbox-input:checked ~ .checkbox-icon svg {
  opacity: 1;
}

.checkbox-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.mail-textarea {
  box-sizing: border-box;
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  font: inherit;
  background-color: #2F303A;
  resize: none;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms var(--function-time);
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__link {
  text-decoration: none;
  color: inherit;
}
.portfolio__link:hover .portfolio__thumb-text, .portfolio__link:focus .portfolio__thumb-text {
  transform: translateY(0);
}

.portfolio__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--function-time);
}/*# sourceMappingURL=main.css.map */