:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --bg-dark-color: #2f303a;
  --bg-light-grey-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --icon-logo-border: #afb1b8;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "roboto", sans-serif;
  color: #757575;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

img {
  display: block;
}

/* --HEADER-- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: stretch;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-inline-start: 0;
}

.contacts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: 292px;
}

.header-list li {
  margin-left: 50px;
}

.header-list li:first-child {
  margin-left: 0;
}

.header-contacts + .header-contacts {
  margin-left: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-container {
  width: 575px;
  display: flex;
  align-items: center;
  margin: 0 auto 51px;
}

.btn-filter {
  padding: 6px 22px;
  margin-right: 8px;
  line-height: 1.56;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

li:nth-last-child(1) .btn-filter {
  margin-right: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:hover,
.flex-element:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms var(--function-time);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.feature-list {
  display: flex;
  text-align: justify;
}

.feature-list li {
  margin-right: 30px;
}

.feature-list li:last-child {
  margin-right: 0;
}

.container.our-work {
  display: block;
}

.work-item li:last-child {
  margin-right: 0;
}

.work-item {
  display: flex;
}

.work-item li {
  margin-right: 30px;
}

li:nth-last-child(1) .work-item {
  margin-right: 0;
}

.first-part-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.second-part-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header .second-part-logo {
  color: var(--primary-black-color);
}

.header-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--function-time);
}

.header-link.active {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  align-items: center;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
  transition: color 250ms var(--function-time);
}

.contact-icon1 {
  margin-right: 10px;
}

.contact-icon2 {
  margin-right: 10px;
}

a.header-contacts:hover .contact-icon1,
a.header-contacts:hover .contact-icon2 {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

a.header-contacts:focus .contact-icon1,
a.header-contacts:focus .contact-icon2 {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

/* --MAIN-- */

/* --HERO-- */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto 35px;
  text-align: center;
}

.hero-btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  margin: 0 auto;
  padding: 10px 32px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* --FEATURES start-- */
.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-bottom: 10px;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}
/* --FEATURES end-- */

/* --TEAM-- */
.section-team {
  background: var(--bg-light-grey-color);
}

.section-team .container {
  display: block;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team-list-item {
  background: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
/* --TEAM end-- */
/* --MAIN end-- */

/* --FOOTER start*/
address {
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}

.address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-mail,
.footer-tel {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.footer .second-part-logo {
  color: var(--primary-white-color);
}
/* --FOOTER end-- */

/* --BUTTON portfolio-- */
.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  background-color: var(--bg-light-grey-color);
}

.project-filter .button {
  color: var(--title-text-color);
}

.project-filter .button:hover,
.project-filter .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--function-time),
    background-color 250ms var(--function-time);
}

.project-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.project-list .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* HM4 */
/* наші переваги */

.icon-box {
  justify-content: center;
  display: flex;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* наша команда */
.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}

.team-soc-link:hover,
.team-soc-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: color 250ms var(--function-time),
    background-color 250ms var(--function-time);
}

.team-soc-icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
}

/* our clients */
.section-clients {
  background: var(--primary-white-color);
}

.clients {
  /* margin-top: 94px; */
}

.section-clients .container {
  display: block;
}

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-logo-border);
  border-radius: 4px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  transition: border 250ms var(--function-time);
}

.clients-icon {
  align-items: center;
  justify-content: center;
  fill: var(--icon-logo-border);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--function-time);
}

.footer .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 12px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
}

.footer-icon {
  background-color: var(--bg-dark-color);
  box-shadow: none;
  border-radius: 0px;
  margin-top: 20px;
  padding-top: 0;
}

.footer-soc-icons {
  margin-left: 70px;
}

/* HM#5 */

.header-link {
  position: relative;
}

.header-link {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-list li {
  display: flex;
  height: 100%;
}

.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.thumb-our-work {
  position: relative;
  overflow: hidden;
}

.thumb-text-work {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb-pfolio {
  position: relative;
  overflow: hidden;
}

.thumb-pfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--function-time);
}

.thumb-pfolio:hover .thumb-pfolio-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--function-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--function-time);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.icon-close {
  fill: #000000;
  align-items: center;
  margin: auto;
}
