
.link {
    text-decoration: none;
  }
  
.list {
    list-style-type: none;
  }
  
  body {
    font-family: "roboto", sans-serif;
    color: #757575;
  }

  img {
    display: block;
  }

  input,
  textarea {
    outline: none;
  }

