:root {
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --bg-dark-color: #2f303a;
    --bg-light-grey-color: #f5f4fa;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --icon-logo-border: #afb1b8;
    --function-time: cubic-bezier(0.4, 0, 0.2, 1);
    --text-color: #757575
  }