.features {
  padding-top: 94px;
  padding-bottom: 94px;
  
  &__pre-title {
    padding-bottom: 10px; 
  }
  
  &__wrap {
    justify-content: center;
    display: flex;
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  &__text {
    @include font(14px, null, 1.71, 0.03em); 
    width: 270px;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
    align-items: flex-start;
  }
  
  &__item {
    flex-basis: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
      @include desktop {
        margin-right: 30px;
        margin-bottom: 30px;
      }
    }
    &:nth-child(2n+1) {
      @include tablet {
      margin-right: 30px;
      } 
    } 

    @include tablet {
      flex-basis: calc((100% - 60px) / 2);  
    }
      

    @include desktop {
      flex-basis: calc((100% - 1200px) / 4);
    }
  }
 
}