.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
  &__address {
    @include font(14px, null, 1.71, 0.03em);
    color: var(--primary-white-color);
  }
  &__mail,
  &__tel {
    @include font(14px, null, 1.71, 0.03em);
    display: block;
    color: var(--footer-contacts-color);
  }
}

.join-block {
  margin-left: 70px;
  &__pre-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
  }
}

.follow-block {
  margin-left: auto;
  margin-bottom: 20px;
  &__pre-title {
    margin-bottom: 10px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
  }
  &__wrap {
    display: flex;
  }
  &__icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
  }
}
