.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: stretch;
  @include telmax {
    display: none;
  }
  &__list {
    @extend %flex-align;
    @include desktop {
      margin-right: 292px;
    }
  }
  &__link {
    display: flex;
  }
  &__item {
    margin-left: 50px;
    height: 100%;
    display: flex;
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__link {
    height: 100%;
    position: relative;
    @extend %flex-align;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color 250ms var(--function-time);
    }

    &--active {
      color: var(--accent-color);
      &::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
      }
    }
  }
}

// menu





.menu-open {
  margin-left: auto;
  display: none;
  background-color: var(--primary-white-color);
  @include telmax {
    display: block;
  }
  
}


.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--primary-white-color);
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 0 48px 0;
  & .container {
    display: block  ;
    height: 100%;
  }

  @include tablet {
    display: none;
  }
}

.menu-close {
  display: block;
  margin-top: 10px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: auto;
  background-color: var(--primary-white-color);
}

.icon-close-menu { 
  fill: #000000;
  align-items: center;
  background-color: var(--primary-white-color);
  border: none;
  &:hover  {
    fill: var(--accent-color);
    transition: fill 250ms var(--function-time);
  }
}

// .menu-close {
// }
.mob-navigation {
  flex-direction: column;
}
// .mob-navigation-list {
// }
// .list {
// }

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.mob-grey-line {
  border: 1px solid rgba(33, 33, 33, 0.2);
  // transform: rotate(90deg);
}
.mob-navigation-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-navigation-link {
  @include font(40px, 500, 47px, 0.02em);
  text-align: center;
  color: #212121;
  
}

.mob-navigation-link.active {
  color: var(--accent-color);
}

// .mob-contacts {
// }

.mob-tel-link {
  display: block;
  margin-bottom: 34px; 
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  }

.mob-email-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px; 
}


.mob-social-list {
  display: flex;
  align-items: center;
}
.mob-social-item {
  &:not(:last-child){
    margin-right: 10px;
    }
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
