.header-contacts + .header-contacts {
  margin-left: 50px;
}

.contacts {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.header-contacts:hover,
  .header-contacts:focus {
    color: var(--accent-color);
    transition: color 250ms var(--function-time);
  }
  
  .contact-icon1 {
    margin-right: 10px;
  }
  
  .contact-icon2 {
    margin-right: 10px;
  }
  
  a.header-contacts:hover .contact-icon1,
  a.header-contacts:hover .contact-icon2 {
    fill: var(--accent-color);
    transition: fill 250ms var(--function-time);
  }
  
  a.header-contacts:focus .contact-icon1,
  a.header-contacts:focus .contact-icon2 {
    fill: var(--accent-color);
    transition: fill 250ms var(--function-time);
  }

  .header-contacts {
    @extend %flex-align;
    @include font(14px, 500, 1.14, 0.02em);
    color: inherit;
  }

  