.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding-bottom: 40px;
  
    width: 528px;
    height: 581px;
  
    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .hero-btn-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white-color);
  }
  
  
  .hero-btn-close:hover .icon-close{
    fill: var(--accent-color);
    transition: fill 250ms var(--function-time);
  }
  
  .icon-close {
    fill: #000000;
    align-items: center;
    margin: auto;
  }
  
  
  /* HM6 */
  .modal-form { 
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
  }
  
  
  .form-field label {
   
    margin-bottom: 4px;
    text-align: left;
    @include font(12px, null, 1.16, 0.01em);    
  }
  
  .form-input {
    outline: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid var(--icon-logo-border); 
    border-radius: 4px;
    }
  
  .form-contacts{
    margin-top: 40px;
    margin-bottom: 12px;
    @include font(20px, 700, 1.15, 0.03em);
    text-align: center;
    color: var(--title-text-color);
  }
  
  .modal-icon {
    display: inline-blok;
    position: absolute;
    top: calc(10px + 50%);
    left: 12px;
    transform: translateY(-50%);
  }
    
  
  .form-field:focus-within > .modal-icon {
    fill:var(--accent-color);
    transition: fill 250ms var(--function-time);
  }
  
  .form-field:focus-within > .form-textarea,
  .form-field:focus-within > .form-input {
    border: 1px solid var(--accent-color);
    transition: border 250ms var(--function-time);
  }
  
  .form-textarea {
    box-sizing: border-box;
    outline: none;
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font: inherit;
  }
    
  .checkbox-input {
    appearance: none; 
  }
  
  .checkbox-label {
    display: inline-block;
  }
  
  .form-checkbox {
    display: flex;
    margin-bottom: 30px;
    
  }
  
  .checkbox-label {
    @extend %flex-align;
  }
  
  .checkbox-icon {
    border: 2px solid var(--primary-black-color) ;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin-right: 9px;
    width: 15px;
    height: 15px;
    position: relative;
  }
  
  .checkbox-icon svg {
    position: absolute;
    top: -2px;
    left: -1px;
    opacity: 0;
  }
  
  .checkbox-input:checked  ~ .checkbox-icon{
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
    background-origin: content-box;
    background-size: contain;
    border: 2px solid var(--accent-color);
  }
  
  .checkbox-input:checked  ~ .checkbox-icon svg{
    opacity: 1;
  }
  
  
    
  .checkbox-link {
      color: var(--accent-color);
      margin-left: 5px;
    }
  
    .btn-send {
      font-family: inherit;
      border: none;
      border-radius: 4px;
      @include font(16px, 700, 1.88, 0.06em);
      text-align: center;
      color: var(--primary-white-color);
      background: var(--accent-color);
      margin: 0 auto;
      padding: 10px 32px;
    }
  
    .mail-textarea {
      box-sizing: border-box;
      outline: none;
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      padding: 15px 16px;
      font: inherit;
      background-color: #2F303A;
      resize: none;
    }
  
    .btn-follow {
      font-family: inherit;
      border: none;
      border-radius: 4px;
      @include font(16px, 700, 1.88, 0.06em);
      @extend %flex-align;
      text-align: center;
      color: var(--primary-white-color);
      background: var(--accent-color);
      margin: 0 auto;
      padding: 10px 32px;
      margin-left: 12px;
    }
  